// *********************************************************************
//
// ADOBE SYSTEMS INCORPORATED
// Copyright (C) 2005-2008 Adobe Systems Incorporated
// All rights reserved.
//
// NOTICE: Adobe permits you to use, modify, and distribute this file
// in accordance with the terms of the Adobe license agreement
// accompanying it. If you have received this file from a source other
// than Adobe, then your use, modification, or distribution of it
// requires the prior written permission of Adobe.
//
// *********************************************************************

//
// The following settings must be defined:
//
// ACROSDK_SOURCE_TREE_ROOT			- Root of Acrobat SDK source tree
// PRODUCT_DEPLOYMENT_LOCATION		- Within build results where to place final binary
//
// We define them in Environment.xcconfig
#include "Headers/SDK/MacSDKConfigurations/Environment.xcconfig"

//Build Universal Binaries
ARCHS = i386 x86_64

//
// GENERAL - Build Locations
//

// Path to Apple SDK
SDKROOT = macosx10.8

// Put our PCH's in our BuildResults folder with everything else
SHARED_PRECOMPS_DIR = $(ACROSDK_SOURCE_TREE_ROOT)/BuildResults/pch

// Relocate the built products path to our build directory based on the root of the
// source tree.  OBJROOT defaults to SYMROOT so objects are located there too.
SYMROOT = $(ACROSDK_SOURCE_TREE_ROOT)/BuildResults/obj/$(PROJECT_NAME)/$(TARGET_NAME)
OBJROOT = $(SYMROOT)

//
// GENERAL - Linking
//

PREBINDING = NO

// Exported symbols file is located in the project folder
EXPORTED_SYMBOLS_FILE = Symbols.exp

// Always dead code strip
DEAD_CODE_STRIPPING = YES

// Allow for multiple definitions
BASE_OTHER_LDFLAGS =
OTHER_LDFLAGS = $(OTHER_LDFLAGS) $(BASE_OTHER_LDFLAGS)

//
// GENERAL - Packaging
//

// Default the product name to the project name
PRODUCT_NAME = $(PROJECT_NAME)

// Plug-ins have the .acroplugin extension
WRAPPER_EXTENSION = acroplugin

// Info.plist file always has the same name and is in the Headers/SDK folder
INFOPLIST_FILE = Headers/SDK/Info.plist

//
// GENERAL - Deployment
//

// 10.7 minimum configuration
MACOSX_DEPLOYMENT_TARGET = 10.7

// Place the built biinary in the location specified by DSTROOT
DEPLOYMENT_LOCATION = YES

// The location where to place the built binary
DSTROOT = $(ACROSDK_SOURCE_TREE_ROOT)/BuildResults/$(PRODUCT_DEPLOYMENT_LOCATION)

// Installation path
INSTALL_PATH = /

// Don't strip at copy
COPY_PHASE_STRIP = NO

//
// GNU C/C++ - Language
//

//Prefix header is in SDK Headers
GCC_PREFIX_HEADER = Headers/SDK/PIHeaders++.pch

// Precompile the prefix
GCC_PRECOMPILE_PREFIX_HEADER = YES

BASE_OTHER_CPLUSPLUSFLAGS =
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(BASE_OTHER_CPLUSPLUSFLAGS)

//
// GNU C/C++ -  Code Generation
//

// Only show debug symbols for items used
GCC_DEBUGGING_SYMBOLS = used

// Tune for G5
GCC_MODEL_TUNING = G5

// Enums are INT
GCC_SHORT_ENUMS = NO

//
// GNU C/C++ - Warnings
//

// So void* can be cast to short, etc. w/o errors
GCC_TREAT_NONCONFORMANT_CODE_ERRORS_AS_WARNINGS = YES

// Warn about mismatched return types
GCC_WARN_ABOUT_RETURN_TYPE = YES

//Some Resource-related APIs were deprecated in OS 10.4
// Let's turn off the warnings from SafeResources.cpp
//The SDK samples only use SafeGetCursor()
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO

//
// GNU PREPROCESSING
//

//Define SDK preprocessor Macros
GCC_PREPROCESSOR_DEFINITIONS = PDMETADATA_HFT=1 PLUGIN=1
  

